DEBUG=True
SECRET_KEY=doctor-service-secret-key-healthcare-2024-xyzabc
DB_NAME=healthcare_doctor
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=host.docker.internal
DB_PORT=5432
INTERNAL_SERVICE_KEY=super-secret-internal-key-2024
CLINICAL_SERVICE_URL=http://clinical-service:8000
REDIS_URL=redis://redis:6379/0
