DEBUG=True
SECRET_KEY=change-me-to-a-long-random-secret-key
DB_NAME=db_clinical
DB_USER=root
DB_PASSWORD=your-mysql-password
DB_HOST=mysql
DB_PORT=3306
INTERNAL_SERVICE_KEY=super-secret-internal-key-2024
PATIENT_SERVICE_URL=http://patient-service:8000
BILLING_SERVICE_URL=http://billing-service:8000
INVENTORY_SERVICE_URL=http://inventory-service:8000
REDIS_URL=redis://redis:6379/1
